body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

.dice-1:after { 
    content: "\2680"; 
}
.dice-2:after {
    content: "\2681"; 
}
.dice-3:after {
    content: "\2682"; 
}
.dice-4:after {
    content: "\2683"; 
}
.dice-5:after {
    content: "\2684";
}
.dice-6:after {
    content: "\2685"; 
}

.dice {
    font-size: 80px;
}

.diceCell {
    display: inline-block;
}

.diceSel {
    display: block;
    margin: 0 auto;
}

.submit {
    display: block;
    margin-top: 2em;
}
